doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title webpack Project

    body
        include ../common/mixins

        +b.block
            +e.H2.element 
                |Hello World!