doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title webpack Project

        //Main project style
        link(rel='stylesheet' href='css/main.css')


    body

        h2.message 
            |Hello World!

        script(src='js/main.js' defer)